{% extends 'base.html' %}
{% block body %}
    <h1>Add Tournament</h1>
    <form method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="date_beginning">Date Beginning:</label>
        <input type="date" id="date_beginning" name="date_beginning" required>

        <label for="date_ending">Date Beginning:</label>
        <input type="date" id="date_ending" name="date_ending" required>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required>

        <label for="jtr_link">JTR Link:</label>
        <input type="text" id="jtr_link" name="jtr_link" required>

        <input type="submit">
    </form>
{% endblock %}