<div class="search-banner">
  <search-video-tile />
</div>

<div class="controls-row">
  <div class="sorting">
    <svg width="20" height="20" fill="currentColor">
      <use href="assets/icons/sprite.svg#icon-arrow" />
    </svg>

    Alphabetisch
  </div>
  <div [routerLink]="['/create-video']" class="create">
    neu

    <svg width="20" height="20" fill="currentColor">
      <use href="assets/icons/sprite.svg#icon-plus" />
    </svg>
  </div>
</div>

<div class="videos">
  @for (video of videos(); track video.id) {
  <video-tile [video]="video" [routerLink]="['/video-details', video.id]" />
  }
</div>
