<div class="title-row">
  <span class="title">{{ video.name }}</span>

  <ui-tag [category]="video.category" />
</div>

<div class="date-row">
  <span>Upload: {{ video.dateOfRecording | date : 'dd.MM.YYYY' }}</span>
  <span>Aufnahme: {{ video.uploadDate | date : 'dd.MM.YYYY' }}</span>
</div>

<div class="description-row">
  <span>{{ video.channelName }}</span>
  <span>{{ video.comment }}</span>
</div>

<div class="url-row">
  <svg
    width="18"
    height="18"
    fill="currentColor"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="m6.49 20.13 1.77 1.77 9.9-9.9-9.9-9.9-1.77 1.77L14.62 12l-8.13 8.13Z"
    />
  </svg>
</div>
