{% extends 'base.html' %}
{% block body %}
    <h1>Edit Team</h1>
    <p>Only enter values for the data fields you want to change</p>
    <form method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <label for="city">City:</label>
        <input type="text" id="city" name="city">

        <label for="country">Country:</label>
        <input type="text" id="country" name="country">
        <input type="submit">
    </form>
{% endblock %}
