<div class="search-input">
  <svg width="24" height="24" fill="currentColor">
    <use href="assets/icons/sprite.svg#icon-search" />
  </svg>
  <input type="text" placeholder="suchen..." />
</div>

<div class="sorting-categories">
  <div class="sorting-category">
    Kategorie

    <svg width="16" height="16" fill="currentColor">
      <use href="assets/icons/sprite.svg#icon-arrow" />
    </svg>
  </div>

  <div class="sorting-category">
    Channel

    <svg width="16" height="16" fill="currentColor">
      <use href="assets/icons/sprite.svg#icon-arrow" />
    </svg>
  </div>

  <div class="sorting-category">
    Upload-Datum

    <svg width="16" height="16" fill="currentColor">
      <use href="assets/icons/sprite.svg#icon-arrow" />
    </svg>
  </div>
</div>
