{% extends 'base.html' %}
{% block body %}
<h1>Add Video</h1>
    <form method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="channel_id">Channel ID:</label>
        <input type="number" id="channel_id" name="channel_id" required>

        <label for="link">Link:</label>
        <input type="text" id="link" name="link" required>

        <label for="tournament_id">Tournament ID:</label>
        <input type="number" id="tournament_id" name="tournament_id" required>

        <label for="team_one_id">Team One ID:</label>
        <input type="number" id="team_one_id" name="team_one_id" required>

        <label for="team_two_id">Team Two ID:</label>
        <input type="number" id="team_two_id" name="team_two_id" required>

        <label for="upload_date">Upload Date</label>
        <input type="date" id="upload_date" name="upload_date" required>

        <label for="comments">Comments:</label>
        <input type="text" id="comments" name="comments">

        <input type="submit">
{% endblock %}