{% extends 'base.html' %}
{% block body %}
<h1>Video</h1>
    <form method="POST">
        {{ form.name.label() }}
		{{ form.name() }}
		<br/>

		{{ form.user_id.label() }}
		{{ form.user_id() }}
		<br/>

        {{ form.link.label() }}
		{{ form.link() }}
		<br/>

		{{ form.tournament.label() }}
		{{ form.tournament() }}
		<br/>

        {{ form.team_one.label() }}
		{{ form.team_one() }}
		<br/>

		{{ form.team_two.label() }}
		{{ form.team_two() }}
		<br/>

        {{ form.date.label() }}
		{{ form.date() }}
		<br/>

		{{ form.comments.label() }}
		{{ form.comments() }}
		<br/>

		<br/>
		{{ form.submit() }}
    </form>
{% endblock %}